.heading1 {

    background: -webkit-linear-gradient(#B762C1, #A3E4DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    margin: 100px 80px;
    margin-bottom: 30px;
    font-size: 120px;
    line-height: 1.25;
}

.heading2 {

    background: -webkit-linear-gradient(#B762C1, #A3E4DB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 1.25;
}

.heading3 {
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    opacity: 70%;
    margin: 80px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.5;
    word-spacing: 2px;
}

.navbar {
    padding-bottom: 0.5rem;
    overflow: hidden;
}

.navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

.nav-link{
    font-size: 1.2rem;
    margin: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.nav-link:hover {
    text-decoration: inherit;
    transform: scale(1.05);
}

.nav-item {
  padding-right: 30px;
}

.navig {
    padding: 5px 80px;
    background-color: #111111;
}

.nav-social {
    transition-duration: 350ms;
}

.icons {
    height: 30px;
    width: 30px;
    transition-duration: 300ms;
}

.collapse-social {
    opacity: 0;
    visibility: hidden;
}

.rotate-icon {
    transform: rotate(60deg);
    opacity: 60%;
}

#content {
  height: 450px;
}

#about {
  margin: 60px 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-para {
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 2px;
}

#box {
  margin: 10px 80px;
}

#datacol {
  margin: 0;
  padding: 0;
}

.mypic {
  height: 420px;
  width: 420px;
  margin-bottom: 50px;
}

#contact {
  margin-top: 20px;
  text-align: center;
}

#contact_me {
  background: -webkit-linear-gradient(#B762C1, #A3E4DB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bubblegum Sans', cursive;
  text-align: center;
  font-size: 100px;
  margin: 80px;
  margin-bottom: 20px;
}

.btns {
  align-self: center;
  margin: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

.carousel-images {
  height: 500px;
  width: 800px;
  border: 5px solid white;
}

#works {
  text-align: center;
}

#myprojects {
  margin-top: 50px;
}

#game-bio {
  background-color: #111111;
  margin: 10px;
  font-family: "Domine", sans-serif;
  right: 500px;
  left: 500px;
  top: 350px;
}

.btnup {
  position: fixed;
  background-color: transparent;
  bottom: 20px;
  right: 20px;
  border: none;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  font-family: 'Moon Dance', cursive;
  margin: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.btnup:hover {
  color: skyblue;
  transform: scale(1.2);
}

@media (max-width: 1100px) {
  .heading1 {
    text-align: center;
    font-size: 80px;
  }
  .heading2 {
    text-align: center;
    font-size: 40px;
  }
  #contact_me {
    text-align: center;
    font-size: 40px;
  }
  .mypic {
    height: 200px;
    width: 200px;
    margin: auto 30px;
  }
  #box {
    margin: auto 30px;
  }
  .btnup {
    visibility: hidden;
  }
  .social {
    visibility: hidden;
  }
}

@media (max-width: 1350px) {
  #game-bio {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .heading1 {
    text-align: center;
    font-size: 50px;
  }
}
